{% extends 'base.html.twig' %}

{% block title %}Accueil back office 1000 Moustache !
{% endblock %}
{% block body %}

 <main class="flex h-screen">
      
      
      <section class="p-4 mx-auto">

          <div class="flex flex-col justify-between h-screen p-4 bg-teal-800">
            <div class="text-sm">
              <div class="teal-400 text-white p-2  text-center 
              rounded cursor-pointer">Pole FA</div>

<div class="flex flex-row justify-center  items-center p-4 bg-teal-800">
<div class="flex flex-col p-4 ">
              <div class="teal-400 text-white p-3 rounded mt-2  cursor-pointer  hover:text-blue-300">List of animals</div>
              <div class="teal-400 text-blue-300 p-2 rounded mt-2 cursor-pointer">List of family</div>
              
              <div class="teal-400 text-white p-2 rounded mt-2 cursor-pointer  hover:text-blue-300">List of users</div>
              <div class="teal-400 text-white p-2 rounded mt-2 cursor-pointer  hover:text-blue-300">List of family disponible</div>
              <div class="teal-400 text-white p-2 rounded mt-2 cursor-pointer  hover:text-blue-300">List of others</div>

 </div>
 <div class="flex flex-col p-4 bg-teal-800">
              <div class="teal-400 text-white p-2 rounded mt-2  cursor-pointer  hover:text-blue-300">List of animals</div>
              <div class="teal-400 text-blue-300 p-2 rounded mt-2 cursor-pointer">List of family</div>
              
              <div class="teal-400 text-white p-2 rounded mt-2 cursor-pointer  hover:text-blue-300">List of users</div>
              <div class="teal-400 text-white p-2 rounded mt-2 cursor-pointer hover:text-blue-300">List of family disponible</div>
              <div class="teal-400 text-white p-2 rounded mt-2 cursor-pointer  hover:text-blue-300">List of others</div>

 </div>
 </div>


            </div>
            
            
        </div>
         


</section>

          

       
      
      </main>



{% endblock body %}