{% extends 'base.html.twig' %}

{% block title %}Hello back office 1000 Moustache !
{% endblock %}

{% block body %}
	<div class="min-h-screen flex items-center justify-center bg-gray-50 py-12 px-4 sm:px-6 lg:px-8">
		<div class="max-w-md w-full space-y-8">
			<div>
				<img class="mx-auto h-10 w-auto" src="{{ asset('build/images/petit-logo.jpg') }}" alt="Logo 1000 Moustaches">
			</div>

			<div class="rounded bg-white max-w-md rounded overflow-hidden shadow-xl p-5">

				<form class="space-y-4" action="#" method="POST">
					<input type="hidden" name="remember" value="True">
					<div class="rounded-md shadow-sm -space-y-px">
						<div class="grid gap-6">
							<div class="col-span-12">
								<input type="text" placeholder="identifiant" id="identifiant" autocomplete="given-name" class="mt-1 focus:ring-green-blue focus:border-green-blue block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
							</div>
							<div class="col-span-12">
								<input type="text" placeholder="Mot de passe" id="mot_de_passe" autocomplete="email" class="mt-1 focus:ring-green-blue focus:border-green-blue block w-full shadow-sm sm:text-sm border-gray-300 rounded-md">
							</div>
						</div>
					</div>

					<div class="flex items-center justify-between">
						<div class="flex items-center">
							<input id="remember_me" name="remember_me" type="checkbox" class="h-4 w-4 text-green-blue focus:ring-green-blue border-gray-300 rounded">
							<label for="remember_me" class="ml-2 block text-sm text-gray-900">
								Se rappeler de moi
							</label>
						</div>

						<div class="text-sm">
							<a href="{{ path('app_oublie') }}" class="font-medium text-green-blue hover:text-teal">
								Mot de passe oublié ?
							</a>
						</div>
					</div>


					<div>
						<button type="submit" class="group relative w-full flex justify-center py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white btn">
							<span
								class="absolute left-0 inset-y-0 flex items-center pl-3">
								<!-- Heroicon name: solid/lock-closed -->
								<svg class="h-5 w-5 text-green-blue group-hover:text-teal" xmlns="http://www.w3.org/2000/svg" viewbox="0 0 20 20" fill="currentColor" aria-hidden="True">
									<path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"/>
								</svg>
							</span>
							Se connecter
						</button>
						<div class="mt-8 text-center">
							<p class="text-sm pb-8 flex justify-center">
								Vous n'avez pas encore de compte ?
							</p>
							<button type="submit" class="group relative w-1/2 py-2 px-4 border border-transparent text-sm font-medium rounded-md text-white btn">
								Inscription
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	{% endblock %}
