{% extends 'base.html.twig' %}

{% block title %}Calendrier{% endblock %}



{% block body %}
<main class="flex justify-center  ">


		
		
    <div class="w-full" id="calendrier">
    </div>
     
		
	</main>
{% endblock %}

{% block javascripts %}
<script>

    window.onload = () => {
        let calendarElt = document.querySelector("#calendrier")
        let calendar = new FullCalendar.Calendar(calendarElt, {
            initialView: 'timeGridWeek',
            locale: 'fr',
            timeZone: 'Europe/Paris',
            headerToolbar: {
                start: 'prev,next today',
                center: '',
                end: 'dayGridMonth,timeGridWeek'
            },
             events: {{ data|raw }},
             editable: true,
            eventResizableFromStart: true ,
            WindowResize: true,
  
        })

        
        calendar.on('eventChange', (e) => {
            let url = `/api/${e.event.id}/edit`
            let donnees = {
                  // "adoptant": e.event.adoptant.prenom,
                "title": e.event.title,
                "description": e.event.extendedProps.description,
                "start": e.event.start,
                "end": e.event.end,
                "backgroundColor": e.event.backgroundColor,
                
                "textColor": e.event.textColor,
                "allDay": e.event.allDay
            }
            
            let xhr = new XMLHttpRequest
            xhr.open("PUT", url)
            xhr.send(JSON.stringify(donnees))
        })
        calendar.render() 
    }
</script>

{% endblock %}