{% extends 'base.html.twig' %}

{% block title %}Edit FamilleAccueil{% endblock %}

{% block body %}
    <h1>Edit FamilleAccueil</h1>

    {{ include('famille_accueil/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_famille_accueil_index') }}">back to list</a>

    {#{ include('famille_accueil/_delete_form.html.twig') }#}
{% endblock %}
