{% extends 'base.html.twig' %}

{% block title %}New FamilleAccueil{% endblock %}

{% block body %}
    <h1>Create new FamilleAccueil</h1>

    {{ include('famille_accueil/_form.html.twig') }}

    <a href="{{ path('app_famille_accueil_index') }}">back to list</a>
{% endblock %}
