{% extends 'base.html.twig' %}

{% block title %}Edit Espece
{% endblock %}

{% block body %}
<main class="flex justify-center items-center  h-screen">

      <section class="flex mx-auto ">

			<div class="flex flex-col p-4 ">

				<div class=" p-4 text-center text-2xl rounded cursor-pointer">
					<p class="border-b-4 text-4xl mt-6 font-bold">
						Modification de l'espèce <span class="material-icons">pets</span>
					</p>
				</div>
       <!-- ************************header table*********************** -->

	{{ include('espece/_form.html.twig', {'button_label': 'Modifier'}) }}


	{#{ include('espece/_delete_form.html.twig') }#}
	     </div >
</section >
</main >
{% endblock %}
