{% extends 'base.html.twig' %}

{% block title %}New Espece{% endblock %}

{% block body %}
<main class="flex w-full h-screen">

      <section class="w-full p-4  ml-2">
       <!-- ************************header table*********************** -->

        <div class="px-4 md:px-10 py-4 md:py-7">
    <h1>Create new Espece</h1>

    {{ include('espece/_form.html.twig') }}

    <a href="{{ path('app_espece_index') }}">back to list</a>
{% endblock %}
