{% extends 'base.html.twig' %}

{% block title %}Edit Animal
{% endblock %}

{% block body %}
	<main class="flex mx-auto ">

		<aside class="h-screen w-full xl:w-2/4 hidden lg:w-11/12 hidden xl:block lg:block lg:w-full h-screen md:hidden sm:hidden sm:w-full h-screen">
			<img class="max-w-full p-10 m-20 md:m-10 pt-20 mt-20" src=" {{ asset('build/images/dog-cat.png') }} " alt="dog-cat-home">
		</aside>

		<section class="flex mx-auto ">

			<div class="flex flex-col p-4 ">

				<div class=" p-4 text-center text-2xl rounded cursor-pointer">
					<p class="border-b-4 text-4xl mt-6 font-bold">
						Modifier l'animal
						<span class="material-icons">pets</span>
					</p>
				</div>

			
			<!-- ************************header formulaire*********************** -->


			{{ include('animal/_form.html.twig', {'button_label': 'Modifier'}) }}

			{#{ include('animal/_delete_form.html.twig') }#}
		</section>
	</main>
{% endblock %}
