{% extends 'base.html.twig' %}

{% block title %}Edit Adoptant{% endblock %}

{% block body %}
<main class="flex w-full h-screen">

      <section class="w-full p-4  ml-2">
       <!-- ************************header table*********************** -->

        <div class="px-4 md:px-10 py-4 md:py-7">
    <h1>Edit Adoptant</h1>

    {{ include('adoptant/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_adoptant_index') }}">back to list</a>

    {# {{ include('adoptant/_delete_form.html.twig') }} #}
</div >
</section >
</main >
{% endblock %}
