{% extends 'base.html.twig' %}

{% block title %}New Role{% endblock %}

{% block body %}
<main class="flex justify-center items-center  h-screen">

      <section class="flex mx-auto">

			<div class="flex flex-col p-4 ">

				<div class=" p-4 text-center text-2xl rounded cursor-pointer">
					<p class="border-b-4 text-4xl mt-6 font-bold">
						Créer un nouveau rôle <span class="material-icons">pets</span>
					</p>
				</div>
       <!-- ************************header table*********************** -->
    

    {{ include('role/_form.html.twig') }}

    
     </div >
</section >
</main >
{% endblock %}
