<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}1000-Moustaches{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>


    <body>
    
      <nav class="teal-400 border  px-2 sm:px-4 py-2.5 rounded dark:bg-gray-800">
      <div class="container flex flex-wrap justify-between items-center mx-auto">

          <a href="#" class="flex items-center">
          <img src="{{'public/images/petit-logo.pnj'}}" class="mr-3 h-6 sm:h-9" alt="" />
          <span class="self-center text-xl font-semibold whitespace-nowrap dark:text-white">1000-Moustaches</span>
          </a>

            <div>
              <a href="{{ path('app_logout') }}" class=" bg-gray-50 block py-2 pr-4 pl-3 text-gray-700 hover:bg-gray-50 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent">Déconnexion</a>
            </div>
          
      </div>
</nav>
        {% block body %}{% endblock %}
    </body>
</html>
